
    <footer class="footer">
        <div class="left">
            <div>
                 All videos and pictures on this platform are trademarks of, and all <br> related images and content are the property of, Artistic Village  <br> and its  partners. Duplication and copy of this is strictly prohibited.
            </div>
            <div style="margin-top:15px" class="bt" >
                &copy;Artistic Village 2022 | All Rights reserved.
            </div>
            
        </div>
        <div class="right">
            <p><b>FOLLOW US:</b></p><br>
            <a id="logo" href="https://www.facebook.com/artisticvillage254"><i  class="fa-brands fa-facebook-f"></i></a> 
            <a href="https://www.instagram.com/artistic_village254/?hl=en"><i id="logo" class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC-9mIIT5iV30ezthw9vvB7A" alt="artisticvillage254 youtube"><i id="logo"class="fa-brands fa-youtube"></i></a> <br>
           <p> Phone: +254722744966 </p>
           <p>Email: Artisticvillage254@gmail.com </p>
            
        </div>
        
    </footer>
    <a href=""><i id="arrow" class="fa-solid fa-arrow-up"></i></a>
    <script src="js/index.js"></script>
</body>
</html>