
    <footer class="footer">
        <div class="left">
            <div>
                 All pictures on this platform are trademarks of, and all <br> related images and content are the property of,persons on  <br> this platform. Duplication and copy of there content is strictly <br>  prohibited.
            </div>
            
            <div style="margin-top:15px" class="bt" >
                &copy;Artistic Village 2022 | All Rights reserved.
            </div>
        </div>
        <div class="right">
            <p>Follow Us:</p>
            <div class="links" style="margin: 10px;">
                <a href="https://www.facebook.com/artisticvillage254"><i class="fa-brands fa-facebook-f facebook"></i>
                </a>
                <a href="https://www.instagram.com/artistic_village254/?hl=en"><i class="fa-brands fa-instagram instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC-9mIIT5iV30ezthw9vvB7A"><i class="fa-brands fa-youtube youtube"></i></a>
            </div>
           <p style="margin-right: 20px; margin-bottom: 25px;">Email: Artisticvillage@gmail.com </p>
            
         </div>
        
    </footer>
    <!-- <a href=""><i id="arrow" class="fa-solid fa-arrow-up"></i></a> -->
    <script src="js/index.js"></script>
</body>
</html>