<footer>
    <div class="row primary">
      <div class="column about">
        <h2>Artistic village</h2>
        <p style="margin-top: 30px;">
            All pictures on this platform are trademarks of, and all  related images and content are the property of,persons on   this platform. Duplication and copy of there content is strictly  prohibited.
        </p>
        <br>
        
      </div>
      <div class="column links">
        <h2>Quick Links</h2>
        <ul class="footer-links">
          <li style="margin-top: 25px;">
            <a href="/signup">Create Account</a>
          </li>
          <li style="margin-top: 10px;">
            <a href="/find-talent">Find-Talent</a>
          </li>
          <li style="margin-top: 10px;">
            <a href="/developer">Developers</a>
          </li>
        </ul>
      </div>
      <div class="column subscribe">
        <div style="display: flex; margin-top: 20px;" >
          <p>
            <i class="fa-solid fa-location-dot" style="font-size: 38px; color: red;"></i>    
          </p>        
          <span style="margin-left: 20px; top: 10px;" >
            <ul style="font-size: 20px;">
              <li>Kiptagich House 6th floor,</li>
              <li>Uganda Road,</li>
              <li>Eldoret, Kenya.</li>
            </ul>
          </span>
        </div>
        <h2 style="text-align: center; margin-top: 10px;">Follow Us</h2>
        <div class="social">
          <a href="https://www.facebook.com/search/top?q=artistic%20village"><i class="fa-brands fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/artistic_village254/?hl=en"><i class="fa-brands fa-instagram-square insta"></i></a>
          <a href=""><i class="fa-brands fa-twitter-square twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="row copyright">
      <p>Copyright &copy; 2022  Artistic village | All Rights Reserved</p>
    </div>
  </footer>
    <script src="js/index.js"></script>
</body>
</html>