<footer>
    <div class="row primary">
      <div class="column about">
        <h2>Artistic village</h2>
        <p style="word-spacing: 1px;">
            All pictures on this platform are trademarks of, and all <br> related images and content are the property of,persons on  <br> this platform. Duplication and copy of there content is strictly <br>  prohibited.
        </p>
        <br>
        <div style="display: flex;">
          <p>
            <i class="fa-solid fa-location-dot" style="font-size: 28px; color: red;"></i>    
          </p>        
          <span style="margin-left: 20px; top: 10px;" >
            <ul>
              <li>Kiptagich House 6th floor,</li>
              <li>Uganda Road,</li>
              <li>Eldoret, Kenya.</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="column links">
        <h2>Quick Links</h2>
        <ul class="footer-links">
          <li style="margin-top: 8px;">
            <a href="#about">About Us</a>
          </li>
          <li style="margin-top: 20px;">
            <a href="#terms-of-services">Terms Of Service</a>
          </li>
          <li style="margin-top: 20px;">
            <a href="#testimonials">Testimonials</a>
          </li>
          <li style="margin-top: 20px;">
            <a href="/developer">Developers</a>
          </li>
        </ul>
      </div>
      <div class="column subscribe">
        <h2>Subscribe for quarterly magazine</h2>
        <div class="sub">
          <input type="email" placeholder="Your email  here"/>
          <button class="sub-btn">Subscribe</button>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/search/top?q=artistic%20village"><i class="fa-brands fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/artistic_village254/?hl=en"><i class="fa-brands fa-instagram-square insta"></i></a>
          <a href=""><i class="fa-brands fa-twitter-square twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="row secondary">
        <div>
          <p>
            <a href="tel:0703526520"><i class="fas fa-phone-alt"></i></a>
          </p>
        </div>
        <div>
          <p>
            <a href="//wa.me/0703526520"><i class="fa-brands fa-whatsapp whatsapp"></i></a>
          </p> 
        </div>
        <div>
          <p>
            <a href="mailto:ArtisticVillage@gmail.com"><i class="fa-solid fa-envelope email"></i></a>
          </p>
        </div>
        
      </div>
    <div class="row copyright">
      <p>Copyright &copy; 2022  Artistic village | All Rights Reserved</p>
    </div>
  </footer>
    <script src="js/index.js"></script>
</body>
</html>