<%- include('partials/header') %>
<%- include('partials/nav') %>
<div class="container5" style="margin-top: 30px;">
    <div class="card">
        <img src="images/eddy.jpeg" alt="profile_img">
        <h2 style="color: rgb(226, 5, 5); margin-top: 10px; margin-left: 10px;">Eddy Max Kilonzo</h2>
        <h3 style="color: #fff; margin-top:10px">Web Developer</h3>
        <div class="details">
            <i class="fa-brands fa-facebook"></i>
        </div>  
    </div>
 
</div>