<%- include('partials/header') %> 
<nav id="nav2">
  <div class="up" >
      <h1 class="logo"><a href="/">ARTISTIC <span>VILLAGE</span></a></h1>
      <small class="text">ONE STORY AT A TIME</small>
  </div>
  <ul>
      <li class="nav2-link"><a href="/find-talent">Find-Talent</a></li> 
      <% if(locals.isLoggedIn) { %>
          <li class="nav2-link"><a href="/profile/<%= locals.userID %>">Profile</a></li>
          <li class="nav2-link"><a href="/logout">Logout</a></li>
      <% } else {%>
          <li class="nav2-link"><a href="/signup">Find Work</a></li>
      <% } %>
  </ul>
</nav>


  <%- include('partials/footer') %>