<%- include('partials/header') %>
<%- include('partials/nav') %>

    <div style="margin-top: 100px;" class="access-point">
        <form action="/edit-profile" method="post" enctype="multipart/form-data">
            <label for="">Choose your profile pic:</label>
            <input type="file" name="profile-pic" id="">
            <label for="">services providing:</label>
            <input style="height: 30px;" type="text" name="service" id="">
            <label for="">BIO:</label>
            <input style="height: 30px;" type="text" name="bio" id="">
            <label for="">Pricing:</label>
            <input style="height: 30px;" type="number" name="price" id="">
            <label for="">contact: </label>
            <input style="height: 30px;" type="tel" name="contact" id="" maxlength="10">
            <label for="">Based in:</label>
            <input style="height: 30px;"type="text" name="location" id="">
            <button style="margin-top: 10px;" class="btn" type="submit">Submit</button>
        </form>    
    </div>