<%- include('partials/header') %>
<%- include('partials/nav') %>
        
        <main id="background">
            <div class="carousel" data-carousel>
                <button class="carousel-button next" data-carousel-button="next">&#8656;</button>
                <button class="carousel-button prev" data-carousel-button="prev">&#8658;</button>
                <ul data-slides>
                    <li id="slide" data-active>
                        <img class="home-pics" src="images/sunset.jpeg" alt="">
                        <p></p>
                        
                    </li>
                    <li id="slide">
                        <img class="home-pics" src="images/pg.jpeg" alt="">
                        <p id="slide">photography</p>
                        
                    </li>
                    <li id="slide">
                        <img class="home-pics" src="images/wed.jpeg" alt="">
                        
                    </li id="slide">
                    <li>
                        <img class="home-pics" src="images/mv.jpeg" alt="">
                        
                    </li>
                </ul>
            </div>

        </main>
        
       


<%- include('partials/footer') %>
    
