<%- include('partials/header') %>
<%- include('partials/nav') %>

        <main id="background">
            <div class="carousel" data-carousel>
                <button class="carousel-button next" data-carousel-button="next">&#8656;</button>
                <button class="carousel-button prev" data-carousel-button="prev">&#8658;</button>
                <ul data-slides>
                    <li id="slide" data-active>
                        <img class="home-pics" src="images/u.jpg" alt="">
                        <p id="slide" style="top: 20px;font-family: kai;color: rgb(19, 19, 19); text-align:justify; font-weight: 1000;">Weddings</p>
                    <li id="slide">
                        <img class="home-pics" src="images/d.jpg" alt="">
                        <p id="slide" style="top: 20px;font-family: kai;color: rgba(255, 0, 0, 0.942); font-weight: 1000; text-align:justify;">Documentaries</p>               
                     </li >
                    <li id="slide">
                        <img class="home-pics" src="images/jak.jpg" alt="">
                        <p id="slide" style="top: 20px;font-family: kai;color: rgb(19, 19, 19); font-weight: 1000; text-align:justify;">Photography</p>
                    </li>
                    <li id="slide">
                        <img class="home-pics" src="images/kal.jpg" alt="">
                        <p id="slide" style="top: 20px;font-family: kai;color: rgb(255, 255, 255); font-weight: 1000; text-align:justify;">Music Videos</p>
                    </li>
                </ul>
            </div>
        </main>
        <h1 style="color: #fff; position: relative;text-align: center; font-family: Exo; top: 18vh;">What we do</h1>
        <div style="display:flex; padding: 20px;">
            
            <h2 style="color: #fff; position: relative; text-align: center; font-family: Exo; top: 25vh; padding: 10px;">We are a platform giving emerging creatives <br> an opportunity to display their work and find new clients. </h2>
            <hr style="position: relative; top: 20vh;height: 150px;">
            <h2 style="color: #fff; position: relative; text-align: center; font-family: Exo; top: 25vh; padding: 10px;">The platform also provides potential clients <br> with different variety of talents for their upcoming events. </h2>
        </div>
    
        
       


<%- include('partials/footer') %>
    
