<%- include('partials/header') %>
<%- include('partials/nav') %>

        <main id="background">
            <div class="carousel" data-carousel>
                <button class="carousel-button next" data-carousel-button="next">&#8656;</button>
                <button class="carousel-button prev" data-carousel-button="prev">&#8658;</button>
                <ul data-slides>
                    <li id="slide" data-active>
                        <img class="home-pics" src="images/sunset.jpeg" alt="">
                    </li>
                    <li id="slide">
                        <img class="home-pics" src="images/pg.jpeg" alt="">
                    </li>
                    <li id="slide">
                        <img class="home-pics" src="images/wed2.jpeg" alt="">               
                     </li >
                    <li id="slide">
                        <img class="home-pics" src="images/j.jpeg" alt="">
                    </li>
                    <li id="slide">
                        <img class="home-pics" src="images/a.jpeg" alt="">
                    </li>
                </ul>
            </div>
        </main>
        <h1 style="color: #fff; position: relative;text-align: center; font-family: Exo; top: 18vh;">What we do</h1>
        <div style="display:flex; padding: 20px;">
            
            <h2 style="color: #fff; position: relative; text-align: center; font-family: Exo; top: 25vh; padding: 10px;">We are on online platform giving emerging creatives <br> an opportunity to display their work and find new clients. </h2>
            <hr style="position: relative; top: 20vh;height: 150px;">
            <h2 style="color: #fff; position: relative; text-align: center; font-family: Exo; top: 25vh; padding: 10px;">The platform also provides potential clients <br> with different variety of talents for their upcoming events. </h2>
        </div>
    
        
       


<%- include('partials/footer') %>
    
