<%- include('partials/header') %>
<%- include('partials/nav') %>
        
        <main id="background">
            <div class="carousel" data-carousel>
                <button class="carousel-button next" data-carousel-button="next">&#8656;</button>
                <button class="carousel-button prev" data-carousel-button="prev">&#8658;</button>
                <ul data-slides>
                    <li id="slide" data-active>
                        <img style="opacity: 0.8;" class="home-pics" src="images/sunset.jpeg" alt="">
                        <p id="slide">Hire people dealing in <br> <b>Photography </b></p>
                    </li>
                    <li id="slide">
                        <img style="opacity: 0.8;" class="home-pics" src="images/pg.jpeg" alt="">
                        <p id="slide">Hire people  dealing in <br> <b>Documentaries</b> </p>
                    </li>
                    <li id="slide">
                        <img style="opacity: 0.8;" class="home-pics" src="images/wed.jpeg" alt="">
                        <p id="slide">Hire people  dealing in <br><b> Weddings</b></p>
                    </li >
                    <li id="slide">
                        <img style="opacity: 0.7;" class="home-pics" src="images/mv.jpeg" alt="">
                        <p id="slide">Hire people  dealing in <br> <b>Music Videos</b> </p>
                    </li>
                </ul>
            </div>
        </main>
        
       


<%- include('partials/footer') %>
    
