<%- include('partials/header') %>
<div class="container">
    <nav id="nav2">
        <div class="up" >
            <h1 class="logo"><a href="/">ARTISTIC <span>VILLAGE</span></a></h1>
            <small class="text">ONE STORY AT A TIME</small>
        </div>
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
        <div class="menu">
            <ul>
                <li class="nav2-link"><a href="#about">About Us</a></li>
                <li class="nav2-link"><a href="#testimonials">Testimonials</a></li>
                <li class="nav2-link"><a href="/find-talent">Find-Talent</a></li> 
                <% if(locals.isLoggedIn) { %>
                    <li class="nav2-link"><a href="/profile/<%= locals.userID %>">Profile</a></li>
                    <li class="nav2-link"><a href="/logout">Logout</a></li>
                <% } else {%>
                    <li class="nav2-link"><a href="/signup">Find Work</a></li>
                <% } %>
            </ul>
         </div>  
    </nav>
    <style>
        .slideshow-item-text div {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        } 
        .slideshow-item-text div:first-of-type {
            animation: showup 10s infinite;
            animation: reveal 10s infinite;
        }
        .slideshow-item-text div:last-of-type {
            width: 0px;
            animation: reveal 10s infinite;
        }
        .slideshow-item-text div:last-of-type p {
            animation: slidein 10s infinite;
        }
        @keyframes showup {
            0% { opacity: 0; margin-left: -800px;}
            20% {opacity: 0; margin-left: -800px;}
            35% {opacity: 1; margin-left: 0px;}
            100% {opacity: 1; margin-left: 0px;}
        }
        @keyframes slidein {
            0% {margin-left: -800px;}
            20% {margin-left: -800px;}
            35% { margin-left: 0px;}
            100% {margin-left: 0px;}
        }
        @keyframes reveal {
            0% {opacity: 0; width: 0px;}
            20% {opacity: 0; width: 0px;}
            30% {width: 100%;}
            80% {opacity: 1; width: 100%;}
            100% {opacity: 1; width: 100%;}
            
        }
    </style>
        
        <div class="slideshow">
            
            <div class="slideshow-item">
                <img class="home-pics" src="images/u.jpg" alt="">
                <div class="slideshow-item-text">
                    <div class="h5">Weddings</div>
                    <div>
                        <p>Find suitably qualified Photographers and videographers <br> for your big day</p>
                    </div>
                </div>
            </div>
            <div class="slideshow-item">
                <img class="home-pics" src="images/jak.jpg" alt="">
                <div class="slideshow-item-text">
                    <div class="h5">
                        Photography
                    </div>
                    <div>
                        <p>Our database of highly professional photographers <br> will meet your needs, be it family,street or conceptual <br> photography</p>
                    </div>
                </div>
            </div>
            <div class="slideshow-item">
                <img class="home-pics" src="images/d.jpg" alt="">
                <div class="slideshow-item-text">
                    <div class="h5" style="margin-right: 35px;">
                        Documentaries
                    </div>
                   <div>
                    <p>Use our app to find the best storytellers for your <br> documentary project</p>
                   </div>
                </div>
            </div>
            <div class="slideshow-item">
                <img class="home-pics" src="images/kal.jpg" alt="">
                <div class="slideshow-item-text">
                    <div class="h5" style="margin-right: 35px;">
                        Music Videos
                    </div>
                   <div>
                    <p>Planning to shoot a music video?Find some of the <br> industry's best music directors</p>
                   </div>
                </div>
            </div>
        </div>
        <div>
            <section id="about">
                <div class="wrapper">
                    <div class="background-color">
                        <div id="progress">
                            <span id="progress-value">&#x1F815;</span>
                        </div>
                        <!-- <div class="bg1"></div>
                        <div class="bg2"></div> -->
                    </div>
                    <div class="about-container">
                        <div class="image-container">
                            <img src="images/v.jpg" alt="">
                        </div>
                        <div class="text-container">
                                <h2>About Us</h2>
                                <p>At Artistic Village, we provide videographers and photographers with a platform where they expand their reach and access a wider market for their work <span id="dots" onclick="read()">...</span> <br>
                                <span id="more"> <br>
                                    Members participate in frequent photography competitions to gauge their work as well as win amazing prizes to boost their morale, increase their visibility and get their work to a global audience <br>
                                    Quarterly online workshops by highly acclaimed Photographers provide members added skills & knowledge as well as enabling them to strengthen their global network</p>
                                </span>
                                <button type="button" id="read" onclick="read()">Read More</button>
                        </div>
                    </div>
                </section>
        </div>
        <section id="testimonials">
            
            <div class="testimonials">
                <div class="inner">
                <h1 style="color: #fff; font-size: 30px; font-family: Exo; margin-top: 15px;">Testimonials</h1>
                <div class="border"></div>
                    
                <div class="row2">
                    <h2 style="color: #fff; font-size: 30px; font-family: Exo; margin-top: 5px; margin-left: 20px;">Talents</h2>

                    <div class="col">
                    <div class="testimonial">
                        <img src="images/p.jpeg" alt="">
                        <div class="name">David Macharia</div>
                        <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </div>
                        <p>
                            "Joining the Village was perhaps my biggest professional leap. Within a few months, I had interacted with over 300 new clients. Right now I have gigs almost every weekend.."
                        </p>
                    </div>
                    </div>
        
                    <div class="col">
                    <div class="testimonial">
                        <img src="images/p2.jpeg" alt="">
                        <div class="name">Elizabeth Tuwei</div>
                        <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        </div>
                        <p>
                            "I was introduced to the platform by a colleague. Attending one of their Masterclasses opened my eyes and I developed a very strong network of global friends. Right now am preparing to fly to Spain for further workshops."
                        </p>
                    </div>
                    </div>
        
                <div class="col">
                <div class="testimonial">
                    <img src="images/p3.jpeg" alt="">
                    <div class="name">Rebecca Linda</div>
                    <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    </div>
                    <p>
                        "Winning a competition facilitated by the platform has enabled me to become a global photographer. My works have been requested by major news networks from all over the world."
                    </p>
                </div>
                </div>
                <h2 style="color: #fff; font-size: 30px; font-family: Exo; margin-top: 15px; margin-left: 20px; ">clients</h2>
                <div class="col">
                    <div class="testimonial">
                        <img src="images/s.jpg" alt="">
                        <div class="name">Mercy  Abayomi</div>
                        <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        </div>
                        <p>
                            "I remember my sister's wedding was just a fortnight away yet we had no videographers. A few minutes into the App and I had endless options. Needless to say I got the best deals."
                        </p>
                    </div>
                </div>
                    <div class="col">
                        <div class="testimonial">
                            <img src="images/l.jpg" alt="">
                            <div class="name">Claude Macharia</div>
                            <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            </div>
                            <p>
                                "I got a team to work on my firm's documentary. The end result was absolutely fantastic and am grateful for Artistic Village for the connection."
                            </p>
                        </div>
                        </div>
                        <div class="col">
                            <div class="testimonial">
                                <img src="images/r.jpg" alt="">
                                <div class="name">Karen Lagat</div>
                                <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                </div>
                                <p>
                                    "My music video has received several awards after I got an amazing director from the app. There's nothing by mad talent right here."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            
        <div class="inner">
            <h1 style="color: #fff; font-size: 30px; font-family: Exo; margin-top: 15px; text-align: center;letter-spacing: 3px;">Patners</h1>
            <div class="border"></div>
<div class="slider">
<div class="slide-track">
    
    <div class="slide">
        <img src="images/images.png" height="100px" width="200px" alt="" />
    </div>
    <div class="slide">
    <img src="images/km.png" height="100px" width="250px" alt="" />
    </div>
    <div class="slide">
    <img src="images/we.png" height="100px" width="250px" alt="" />
    </div>
    <div class="slide">
    <img src="images/sd.jpg" height="100px" width="250px" alt="" />
    </div>
    <div class="slide">
    <img src="images/mn.jpg" height="100px" width="250px" alt="" />
    </div>
    <div class="slide">
    <img src="images/dw.jpg" height="100" width="250" alt="" />
    </div>
    <div class="slide">
    <img src="images/im.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
        <img src="images/ka.jpg" height="100" width="250" alt="" />
    </div>
</div>
</div>
</div>
<!-- partial -->
    
<style>
    @-webkit-keyframes scroll {
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translateX(calc(-250px * 4));
transform: translateX(calc(-250px * 4));
}
}
@keyframes scroll {
0% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
100% {
-webkit-transform: translateX(calc(-350px * 4));
transform: translateX(calc(-350px * 4));
}
}
.slider {
background: pr;
box-shadow: 0 10px 20px -5px rgba(22, 22, 22, 0.125);
height: 100px;
margin: auto;
overflow: hidden;
position: relative;
width: 1050px;
}
.slider::before, .slider::after {
background: linear-gradient(to right, rgba(171, 171, 171, 0.9) 0%, rgba(32, 30, 30, 0) 100%);
content: "";
height: 100px;
position: absolute;
width: 250px;
z-index: 2;
}
.slider::after {
right: 0;
top: 0;
-webkit-transform: rotateZ(180deg);
transform: rotateZ(180deg);
}
.slider::before {
left: 0;
top: 0;
}
.slider .slide-track {
-webkit-animation: scroll 35s linear infinite;
animation: scroll 35s linear infinite;
display: flex;
background-color: #fff;
width: calc(250px * 8);
}
.slider .slide {
height: 100px;
width: 250px;
}
</style>
</div>
<style>
    :target{
        scroll-margin-top: 25px;
        scroll-margin-bottom: 25px;
    }
</style>
        
       


<%- include('partials/footer') %>
    
