<%- include('partials/header') %>
<nav id="nav2">
    <div class="up" >
        <h1 class="logo"><a href="/">ARTISTIC <span>VILLAGE</span></a></h1>
        <small class="text">ONE STORY AT A TIME</small>
    </div>
    <ul>
        <li class="nav2-link"><a href="/find-talent">Find-Talent</a></li> 
        <% if(locals.isLoggedIn) { %>
            <li class="nav2-link"><a href="/profile/<%= locals.userID %>">Profile</a></li>
            <li class="nav2-link"><a href="/logout">Logout</a></li>
        <% } else {%>
            <li class="nav2-link"><a href="/login">👤 My Account</a></li>
        <% } %>
    </ul>
    
</nav>
    
        <div class="slideshow">
          
            <div class="slideshow-item">
                <img class="home-pics" src="images/u.jpg" alt="">
                <div class="slideshow-item-text">
                    <h5>Weddings</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error commodi beatae alias aspernatur quaerat.</p>
                </div>
            </div>
            <div class="slideshow-item">
                <img class="home-pics" src="images/jak.jpg" alt="">
                <div class="slideshow-item-text">
                    <h5>Photography</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error commodi beatae alias aspernatur quaerat.</p>
                </div>
            </div>
            <div class="slideshow-item">
                <img class="home-pics" src="images/d.jpg" alt="">
                <div class="slideshow-item-text">
                    <h5>Documentaries</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error commodi beatae alias aspernatur quaerat.</p>
                </div>
            </div>
            <div class="slideshow-item">
                <img class="home-pics" src="images/kal.jpg" alt="">
                <div class="slideshow-item-text">
                    <h5>Music Videos</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse error commodi beatae alias aspernatur quaerat.</p>
                </div>
            </div>
        </div>
        
        
       


<%- include('partials/footer') %>
    
