<%- include('partials/header') %>
<%- include('partials/nav') %>

    <div style="margin-top: 100px;" class="access-point">
        <form action="/input-profile?email=<%=email%>" method="post" enctype="multipart/form-data">
            <h2 style="color: red; text-align: center; margin-bottom: 10px;">Input your profile</h2>
            <label for="">Choose your profile pic:</label>
            <input type="file" name="profile-pic" id="">
            <label for="">services providing:</label>
            <input style="height: 30px;" type="text" name="service" id="" required>
            <label for="">BIO:</label>
            <input style="height: 30px;" type="text" name="bio" id="" required>
            <label for="">Pricing:</label>
            <input style="height: 30px;" type="number" name="price" id="" required>
            <label for="">contact: </label>
            <input style="height: 30px;" type="tel" name="contact" id="" maxlength="10" minlength="10" required>
            <label for="">Based in:</label>
            <input style="height: 30px;" type="text" name="location" id="" required>
            <button style="margin-top: 10px;" class="btn" type="submit">Submit</button>
        </form>    
    </div>
    <img src="images/wh.jpg" alt="">