<%- include('partials/header') %>
<%- include('partials/nav') %>
    <main id="services" >
        <div class="service"><p><a href="/weddings">Weddings.</a></p>
            <img  class="pics" src="images/wed.jpeg" alt=""> </div>
        <div class="service"><p><a href="films">Films.</a></p>
            <img class="pics" src="images/films.jpeg" alt="">
        </div>
        <div class="service"><p><a href="/music-videos">Music Videos.</a></p>
            <img class="pics" src="images/mv.jpeg" alt="">
        </div>
        <div class="service"><p><a href="/photography">Photography.</a></p>
            <img class="pics" src="images/pg.jpeg" alt="">
        </div>
    </main>
    <a href=""><i id="arrow" class="fa-solid fa-arrow-up"></i></a>
<%- include('partials/footer') %>