@font-face {
    font-family:Ubuntu-Light ;
    src: url(Ubuntu-Light.ttf);
}
@font-face {
    font-family: kai;
    src: url(kai.TTF);
}
@font-face {
    font-family: Exo;
    src: url(Exo-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #040406; 
}
nav {
    background-color: #040406;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff ;
    font-family:Ubuntu-Light;
    height: 15vh;
}
.nav-link {
    display: inline;
}
.nav-link a {
    color: #ffffff;
    text-decoration: none;
    font-family: Exo;
    margin-right: 20px;
    font-size: 24px;
}
.nav-link a:hover {
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    animation: pulsate 0.7s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 0 0 8px #ff0101, 
        0 0 8px #ffffff;
    }
}
.logo {
    margin-top: 10px;
    font-family:Exo;
    color: #ffffff;
    margin-left: 40px;
}
.logo span {
    color: rgb(255, 0, 0);
    font-family: Exo;
}
nav .text {
    font-family: kai;
    margin-left: 60px;
    margin-top: 0;
}
nav .logo a {
    color: #fff;
    text-decoration: none;
}
.home-pics {
    width: 98.5vw;
    height: 84.5vh;
    object-position: center;
    display: block;
    object-fit: cover;
    
}
main{
    height: 70vh;
}
.footer {
    background-color: #111111;
    border-top: 1px solid rgb(255, 0, 0);
    height: 23vh;
    display: flex;
    position:sticky;
    margin-top: 20%;
    justify-content: space-between;
    align-items: center;
    font-family: Ubuntu-light;
    color: #e9e1e1;
}
.footer .left {
   margin-left: 10%;
   margin-top: 5px;
}
#logo {
    padding: 5px;
}
#arrow{
    color: #ffffff;
    position: fixed;
    background-color: rgb(255, 0, 0);
    scroll-behavior:smooth;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
}
#arrow:hover {
    background-color: #4b0a0a;
}
form {
    background-color: #f1ecec;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    font-family: Exo;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #2a2828;
}

.form-text {
    color: rgb(255, 0, 0);
    font-family: Exo;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.access-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.access-point form {
    width: 40%;
    padding: 20px;
}
.access-point .form-input {
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 6px;
    box-shadow: 2px 2px 2px #786363;
}
.access-point .form-input:hover {
    box-shadow: 3px 3px 3px #2a2828;
}
.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 4px;
}
.access-point .btn {
   align-self: center;
   background-color: rgb(255, 0, 0);
   color: white;
   font-size: 15px;
   font-family: Exo;
   padding: 10px;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 2px #573939;
   border-top: 10px;
}
.access-point .btn:hover {
    background-color: #9f1b1b;
    box-shadow: 3px 3px 3px #151414;
}
.access-point p {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.access-point a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.access-point a:hover {
    text-decoration: underline;
    color:black;
}
#background .carousel {
    width: 90vw;
    position: relative;
}
#background .carousel p {
    top: 10vh;
    opacity: 1;
    left: 40vw;
    font-size: 2rem;
    color: #fff;
    font-family: Exo;
    opacity: 1;
}

#slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

#slide[data-active] {
    opacity: 0.9;
}
.carousel button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 35vh;
    transform: translateY(-50%);
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0, .1);
    cursor: pointer;
    padding: 3px;
    border-radius: 6rem;
}
.carousel button:hover {
    color: #fff;
    background-color: rgb(0, 0, 0, .3);
    outline: 1px solid rgb(115, 6, 6);
}
.carousel-button.prev {
    left: 105%;
}
.carousel-button.next {
    right: 95%;
}
.carousel > ul {
    list-style: none;
}
.bio {
    text-align: center;
    color: #fff;
    font-family: Exo;
    margin-bottom: 20px;
}
.profile {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 40%;
    width: 40%;
    color: #fff;
    font-family: Exo;
}
.user-images{
    width: 400px;
    height: auto;
    color: #fff;
    font-family: Exo;
    display: flex;
}
.user-images .description {
    color: rgb(227, 24, 24);
}
.user-images img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    padding: 10px;
}
.not-found {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.not-found p {
    color: #e9e1e1;
    font-family: Exo;
    font-size: 30px;
}
.not-found img {
    width: 40%;
    height: 40%;
}
#talents  {
    display: inline-block;
    margin: 30px 50px;
    
}
#talents .single-talent {
    overflow:hidden;
    width: 350px; 
    display: inline-block;
    background-color:#e9e1e1 ;
    border-radius: 10px;
    margin: 30px; 
    padding: 10px;
    height: 470px;
    transition: transform  200ms;
}
#talents .single-talent:hover{
    background-color: rgb(189, 189, 189);
    box-shadow: 3px 3px 3px #db0505;
    transition: transform 1s;
    border: 1px solid red;
    transform: scale(1.15);
}
#talents .single-talent > a img {
    width:170px;
    height: 170px; 
    border-radius: 600px; 
    object-fit: cover; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}
#talents .single-talent > a img:hover{
    transform: scale(1.10);
    transition: transform  300ms;
}
#talents .single-talent a{
    text-decoration: none;
}
#talents .user{
    text-align: center;
    font-family:Exo;
}
#talents .user-bio {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#talents .single-talent a button {
    margin-left: 115px;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: red;
    border: none;
    margin-top: 60px;
}
#talents .single-talent a button:hover{
    background-color: #4b0a0a;
    box-shadow:2px 2px 2px #8d0e0e;
}
.bio .contact {
    display: flex;
    justify-content: center;
}
.bio .contact-text {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 75vh;
    left: 50vw;
    margin-top: 0;
    margin: 10px;
}
.bio .whatsapp {
    color: green;
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin-top: 10px;
    animation: first_color 0.5s ease-in-out infinite alternate;
}
.bio .email {
    color: rgb(205, 192, 192);
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin-top: 10px;
    animation: first_color 0.5s ease-in-out infinite alternate;
}
.bio .call {
    color: blue;
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin-top: 10px;
    animation: first_color 0.5s ease-in-out infinite alternate;
}

@media screen  and (max-width:600px) {

    .footer {
        font-size: 13px;
        margin-top: 100%;
        position: absolute;
        top: 125%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-text {
        color: rgb(255, 0, 0);
        font-family: Exo;
        text-align: center;
        cursor: pointer;
        font-size: 22px;
        font-weight: bolder;
        margin-bottom: 4px;
    }
    .service {
        width: 90%;
        height: 60%;
        text-align: center;
        font-size: 17px;
        margin: 10px;
    }
    #services .pics {
        border-radius: 5px;
        width: 90%;
        height:100%;
    }
    .nav-link {
        display: none;
    }
    nav .text {
        font-size: 10px;
        margin-left: 55px;
        margin-top: 0;
    }
    .logo {
       font-size: 18px;
    }
   
    
}


