@font-face {
    font-family:Ubuntu-Light;
    src: url(Ubuntu-Light.ttf);
}
@font-face {
    font-family: kai;
    src: url(kai.TTF);
}
@font-face {
    font-family: Exo;
    src: url(Exo-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #13131a; 
}
header {
    background-color: #e9e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 400;
    font-family:Ubuntu-Light;
    height: 15vh;
    z-index: 1;
    position: sticky;
    top: 0;
}

.nav-link {
    display: inline;
}
.nav-link a {
    color: #000000;
    text-decoration: none;
    font-family: Exo;
    margin-right: 20px;
    font-size: 24px;
}
.nav-link a:hover {
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 0 0 15px #750000, 
        0  0 15px #000000, 
    }
}

.logo {
    margin-top: 10px;;
    margin-left: 40px;
}
.logo span {
    color: rgb(255, 0, 0);
    font-family: Exo;
}
.up .text {
    font-family: kai;
    margin-left: 60px;
    margin-top: 0;
}
.up .logo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#nav2 {
    background-color: #0e0e13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 400;
    font-family:Ubuntu-Light;
    height: 11vh;
    position: sticky;
    top: 0%;
    z-index: 1;
}
.nav2-link {
    display: inline;
}
.nav2-link a {
    color: #f7f1f1;
    text-decoration: none;
    font-family: Exo;
    margin-right: 20px;
    font-size: 24px;
}
.nav2-link a:hover {
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s;
    border-bottom:2px solid #f9f9f9;
    border-top: 2px solid #fbf6f6;
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 0px 0px 15px #470000, 
        1px 1px 15px #ffffff;
    }
}
.logo {
    margin-top: 10px;;
    margin-left: 40px;
}
.logo span {
    color: rgb(255, 0, 0);
    font-family: Exo;
}
#nav2 .text {
    color: rgb(255, 255, 255);
    font-family: kai;
    margin-left: 60px;
    margin-top: 0;
}
#nav2 .logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.slideshow {
    width: 100%;
    height: 97vh;
    position: relative;
    overflow: hidden;
}
.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 41s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: zoom 41s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img  {
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img  {
    animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img  {
    animation-delay: 30s;
}
.slideshow-item-text {
    max-width: 50%;
    position: absolute;
    top: 8%;
    left: 25%;
    transform: translateY(-50%);
    border-radius: 10px;
    background-color: rgba(10, 7, 21, 0.5);
    color: #fff;
    padding: 10px 10px;
    font-family: Exo;
}
.slideshow-item-text h5 {
    font-size: 24px;
    font-family: Exo;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;

}
.slideshow-item-text p {
    font-size: 13px;
    font-family: Exo;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
}
@keyframes cycleImages {
    20%{
        opacity: 1;
    }
    40%{
        opacity: 0;
        
    }
}
@keyframes zoom {
    100%{
        transform: scale(1.3);   
    }   
}
.footer {
    background-color: #111111;
    border-top: 1px solid rgb(255, 0, 0);
    height: 23vh;
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
    align-items: center;
    font-family: Ubuntu-light;
    color: #e9e1e1;
    z-index: 1;
}
.footer .left {
   margin-left: 10%;
   margin-top: 5px;
}
#logo {
    padding: 5px;
}
#arrow:hover {
    background-color: #4b0a0a;
}
form {
    background-color: #f1ecec;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    font-family: Exo;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #2a2828;
}

.form-text {
    color: rgb(255, 0, 0);
    font-family: Exo;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.access-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.access-point form {
    width: 40%;
    padding: 20px;
}
.access-point .form-input {
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 6px;
    box-shadow: 2px 2px 2px #786363;
}
.access-point .form-input:hover {
    box-shadow: 3px 3px 3px #2a2828;
}
.error-message {
    color: #910000;
    text-align: center;
    margin-bottom: 4px;
}
.access-point .btn {
   align-self: center;
   background-color: rgb(255, 0, 0);
   color: white;
   font-size: 15px;
   font-family: Exo;
   padding: 10px;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 2px #573939;
   border-top: 10px;
}
.access-point .btn:hover {
    background-color: #9f1b1b;
    box-shadow: 3px 3px 3px #151414;
}
.access-point p {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.access-point a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.access-point a:hover {
    text-decoration: underline;
    color:black;
}
.bio {
    text-align: center;
    color: #fff;
    font-family: Exo;
    margin-bottom: 20px;
}
.not-found {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.not-found p {
    color: #e9e1e1;
    font-family: Exo;
    font-size: 30px;
}
.not-found img {
    width: 50%;
    height: 50%;
}
#talents  {
    margin-left:100px;
    margin-right: 10px;
    margin-top: 30px;
}
#talents .single-talent {
    overflow:hidden;
    width: 350px; 
    display: inline-block;
    background-color:#e9e1e1;
    border-radius: 10px;
    margin: 25px; 
    height: 465px;
    transition: transform  400ms ease-in-out;
    cursor: pointer;
    word-spacing: 2px;
}
#talents .single-talent:hover{
    background-color: rgb(189, 189, 189);
    box-shadow: 2px 2px 2px #db0505;
    transition: transform 600ms;
    transform: scale(1.08);
}
#talents .single-talent > a img {
    width:170px;
    height: 170px; 
    border-radius: 600px; 
    object-fit:cover; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
}
#talents .single-talent > a img:hover{
    transform: scale(1.10);
    transition: transform  300ms;
}
#talents .single-talent a{
    text-decoration: none;
}
#talents .user{
    text-align: center;
    font-family:Exo;
}
#talents .user-bio {
    font-family:Ubuntu-Light;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#talents .single-talent a button {
    margin-left: 125px;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: red;
    border: none;
    margin-top: 30px;
}
#talents .single-talent a button:hover{
    background-color: #4b0a0a;
    box-shadow:2px 2px 2px #8d0e0e;
    transition: 200ms;
}
.bio img {
    width:250px;
    height: 250px;
    border-radius:600px;
    object-fit: cover;
    margin-top: 10px; 
}
.bio .contact {
    display: flex;
    justify-content: center;
}
.profile .user-gallery  {
    display: inline-block;
}

.profile .user-gallery p {
    color: white;
    font-family: Exo;
    text-align: center;
    margin-bottom:10px ;        
}
#delete-form {
    display: inline;
    width: 130px;
    padding: 6px;
    margin: 14px;
    background-color: transparent;
    box-shadow: none;
}
.btn-delete {
    float: right;
    color: #fff;
    background-color: #ff0000;
    font-family: Exo;
    font-size: 18px;
    padding: 4px 6px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
}
.btn-delete:hover {
    background-color:  #880b0b;
    border: none;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
#grid .bio {
    width: 330px;
    background-color: #0f0f14; 
    height: 580px;
    margin-left: 80px;
    padding: 10px;
    position: sticky;
    border-radius: 10px;
    top: 13vh;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#grid .profile .user-gallery img {
    width: 630px;
    height: 530px;
    margin: 5px;
    object-fit:contain;
    border-radius: 10px;    
}
#grid .profile .user-gallery p {
    max-width: 80%;
    text-align: center;
    margin-left: 50px;
    word-spacing: 2px;
}
#grid .profile h5{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    margin-right: 100px;
    font-family: Exo;
}
.bio .whatsapp{
    color: #fff;
    animation: first_color .7s ease-in-out infinite alternate;
    font-size: 28px;
    width: 70px;
}
.bio .email {
    animation: second_color .7s ease-in-out infinite alternate;
    color: #fff;
    font-size: 28px;
    width: 70px;
}
.bio .call {
    animation: third_color .7s ease-in-out infinite alternate;
    color: #fff;
    font-size: 28px;
    width: 70px;
    
}
@keyframes first_color {
    0%{
        text-shadow: 0 0 10px #07a35d,
        0 0 20px #048f51, 0 0 30px #027969
    }
    100%{
        text-shadow: 0 0 10px #048a4d,
        0 0 20px #026d3d, 0 0 30px #013b31
    }
    
}
@keyframes second_color {
    0%{
        text-shadow: 0 0 10px #464646,
        0 0 20px #75747400, 0 0 30px #535252;
    }
    100%{
        text-shadow: 0 0 10px #1f1f1f,
        0 0 20px #0d0c0c, 0 0 30px #040404;
    }
    
}
@keyframes third_color {
    0%{
        text-shadow: 0 0 10px #255fd3,
        0 0 20px #114eb1, 0 0 30px #02285e
    }
    100%{
        text-shadow: 0 0 10px #1345a8,
        0 0 20px #083379, 0 0 30px #000e21
    }
    
}
.right .links .facebook {
    color: rgb(38, 38, 234);
    font-size: 30px;
    width: 40px;
}
.right .links .instagram {
    color: rgb(168, 40, 28);
    font-size: 30px;
    width: 40px;
}
.right .links .youtube {
    color: rgba(199, 0, 0, 0.738);
    font-size: 30px;
    width: 40px;
}
.right .links .facebook:hover{
    color: #ffffff;
    transition: 300ms;
}
.right .links .youtube:hover{
    color: #ffffff;
    transition: 300ms;
}
.right .links .instagram:hover{
    color: #ffffff;
    transition: 300ms;
}
@media screen  and (max-width:670px) {
    .footer {
        font-size: 13px;
        margin-top: 100%;
        position: absolute;
        top: 125%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-text {
        color: rgb(255, 0, 0);
        font-family: Exo;
        text-align: center;
        cursor: pointer;
        font-size: 22px;
        font-weight: bolder;
        margin-bottom: 4px;
    }
    .nav-link {
        display: none;
    }
    nav .text {
        font-size: 10px;
        margin-left: 55px;
        margin-top: 0;
    }
    .logo {
       font-size: 18px;
    }
    .slideshow-item-text {
        max-width: 100%;
        top: initial;
        bottom: 0;
        right: 10%;
        transform: initial;
        padding: 8px 5px;
        font-size: 10px;
    }
    .slideshow-item-text h5 {
        font-size: 15px;
    }
    #talents .single-talent {
        overflow:hidden;
        width: 90%; 
        display: inline-block;
        background-color:#e9e1e1 ;
        border-radius: 10px;
        height: 460px;
        transition: transform  300ms ease-in-out;
    }
    #talents  {
        margin-left:50px;
        margin-right: 10px;
    }
}


