@font-face {
    font-family:Ubuntu-Light;
    src: url(Ubuntu-Light.ttf);
}
@font-face {
    font-family: kai;
    src: url(kai.TTF);
}
@font-face {
    font-family: Exo;
    src: url(Exo-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
   
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 50px;
   
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}
body {
    background-color: #13131a;
    /* overflow: hidden; */
    overflow-y:scroll;
}
header {
    background-color: #e9e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 400;
    font-family:Ubuntu-Light;
    height: 15vh;
    z-index: 1;
    position: sticky;
    top: 0;
}

header ul .nav-link {
    display: inline;
}
.nav-link a {
    color: #000000;
    text-decoration: none;
    font-family: Exo;
    margin-right: 20px;
    font-size: 24px;
}
.nav-link a:hover {
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 0 0 15px #750000, 
        0  0 15px #000000, 
    }
}

.logo {
    margin-top: 10px;;
    margin-left: 40px;
}
.logo span {
    color: rgb(255, 0, 0);
    font-family: Exo;
}
.up .text {
    font-family: kai;
    margin-left: 60px;
    margin-top: 0;
}
.up .logo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#nav2 {
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-weight: 400;
    font-family:Ubuntu-Light;
    height: 11vh;
    position: sticky;
    top: 0%;
    z-index: 1;
}
ul .nav2-link {
    display: inline;
}
.nav2-link a {
    color: #f7f1f1;
    text-decoration: none;
    font-family: Exo;
    margin-right: 20px;
    font-size: 24px;
}
.nav2-link a:hover {
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s;
    border-bottom:2px solid #f9f9f9;
    border-top: 2px solid #fbf6f6;
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 0px 0px 15px #470000, 
        1px 1px 15px #ffffff;
    }
}
.logo {
    margin-top: 10px;;
    margin-left: 40px;
}
.logo span {
    color: rgb(255, 0, 0);
    font-family: Exo;
}
#nav2 .text {
    color: rgb(255, 255, 255);
    font-family: kai;
    margin-left: 60px;
    margin-top: 0;
}
#nav2 .logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.slideshow {
    width: 100%;
    height: 95vh;
    position: relative;
    overflow: hidden;
}
.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 41s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: zoom 41s infinite;
    opacity: 0.3;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img  {
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img  {
    animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img  {
    animation-delay: 30s;
}
.slideshow-item-text {
    max-width: 60%;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateY(-50%);
    border-radius: 10px;
    /* background-color: rgba(10, 7, 21, 0.5); */
    color: #000;
    font-family: Exo;
}
.slideshow-item-text .h5 {
    font-size: 54px;
    font-weight: 900;
    font-family: Exo;
    text-align: center;
    color: rgb(178, 0, 0);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.slideshow-item-text p {
    font-size: 24px;
    font-weight: 700;
    color: rgb(220, 217, 217);
    font-family: Exo;
    letter-spacing: 2px;
    word-spacing: 2px;
}
@keyframes cycleImages {
    20%{
        opacity: 1;
    }
    40%{
        opacity: 0;
        
    }
}
@keyframes zoom {
    100%{
        transform: scale(1.3);   
    }   
}
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
.background-color {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.bg1{
    flex: 1;
    background-color: rgb(24, 32, 40);
}
.bg2{
    flex: 1;
    background-color: rgb(23, 29, 30);
}
.about-container {
    width: 85%;
    min-height: 80vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 24px 24px 30px #03080e;

}
.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}
.text-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.text-container h2 {
    font-size: 30px;
    font-family: Exo;
    padding: 10px 0;
}
.text-container p {
    font-size: 24px;
    font-family: Exo;
    padding: 10px 0;
}
#more {
    display: none;
}
.text-container #read {
    text-decoration: none;
    padding: 12px;
    border: 2px solid red;
    margin-top: 32px;
    background-color: red;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.4s all ease-in-out;
}
.text-container #read:hover {
    background-color: transparent;
    color: black;
    border:  2px solid red;
}
@media screen  and (max-width: 600px){
    .about-container {
        width: 90%;
    }
    .image-container {
        width: 400px;
        height: 400px;
    }
    .text-container h1{
        font-size: 30px;
    }
    
}
footer {
    background-color: #11151e;
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
  }
  footer * {
    font-family: Exo;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 10px;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 0;
  }
  input,
  .sub .sub-btn{
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.sub .sub-btn {
  background-color: #ff0000;
  color: #ffffff;
}
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h2 {
    width: 100%;
    text-align: left;
    color: #ff0000;
    font-size: 1.6em;
    white-space: nowrap;
  }
  .footer-links ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  ul {
      list-style: none;
  }
  ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  li a {
    margin-top: 20px;
  }
  ul li a:hover {
    color: #ff0000;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.3em;
    flex-direction: row;
    margin-top: 0.5em;
    
  }
  .social i {
      color: #fff;
  }
  .social i:hover {
    color: #ff0000;
  }
  .row.secondary {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  .row.secondary i {
    font-size: 2.4em;
    color: #fd0000;
  }
  .row.secondary div {
    padding: 1em 0;
    width: 50%;
  }
  
  .row.secondary div:hover {
    background-color: #11151e;
  }
  .copyright {
    padding: 0.3em 1em;
    background-color: #11151e;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: center;
  }

form {
    background-color: #f1ecec;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    font-family: Exo;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #2a2828;
    height: 390px;
}

.form-text {
    color: rgb(255, 0, 0);
    font-family: Exo;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.access-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.access-point form {
    width: 450px;
    padding: 20px;
}
.access-point .form-input {
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 6px;
    box-shadow: 2px 2px 2px #786363;
    
}
.access-point .form-input:hover {
    box-shadow: 3px 3px 3px #2a2828;
}
#eye-wrapper {
    position: absolute;
    left: 62%;
    top: 58.5%;
}
.error-message {
    color: #910000;
    text-align: center;
    margin-bottom: 4px;
}
.access-point .btn {
   align-self: center;
   background-color: rgb(255, 0, 0);
   color: white;
   font-size: 15px;
   font-family: Exo;
   padding: 10px;
   border: none;
   border-radius: 10px;
   box-shadow: 2px 2px 2px #573939;
   border-top: 10px;
}
.access-point .btn:hover {
    background-color: #9f1b1b;
    box-shadow: 3px 3px 3px #151414;
}
.access-point p {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.access-point a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
.access-point a:hover {
    text-decoration: underline;
    color:black;
}
.bio {
    text-align: center;
    color: #fff;
    font-family: Exo;
    margin-bottom: 20px;
}
.not-found {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.not-found p {
    color: #e9e1e1;
    font-family: Exo;
    font-size: 30px;
}
.not-found img {
    width: 50%;
    height: 50%;
}
#talents {
    margin-left:100px;
    margin-right: 10px;
    margin-top: 30px;
}
#talents .single-talent {
    overflow:hidden;
    width: 350px; 
    display: inline-block;
    background-color:#e9e1e1;
    border-radius: 10px;
    margin: 25px; 
    height: 465px;
    transition: transform  400ms ease-in-out;
    cursor: pointer;
    word-spacing: 3px;
    box-shadow: 1em 2em 2.5em rgba(0, 0, 0, 4);
    
}
#talents .single-talent:hover{
    background-color: rgb(189, 189, 189);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
    /* transition: transform 600ms; */
    transform: scale(1.08);
    
}
#talents .single-talent > a img {
    width:170px;
    height: 170px; 
    border-radius: 600px; 
    object-fit:cover; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.9);
}
#talents .single-talent > a img:hover{
    transform: scale(1.10);
    transition: transform  300ms;
}
#talents .single-talent a{
    text-decoration: none;
}
#talents .user{
    text-align: center;
    font-family:Exo;
}
#talents .user-bio {
    font-family:Ubuntu-Light;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#talents .single-talent a button  {
    background-color: rgb(204, 0, 0);
    box-shadow: #3b0000 5px 5px 5px;
    border-radius: 8px;
    transition: transform 250ms, box-shadow 250ms;

    margin-left: 125px;
    /* border-radius: 10px; */
    padding: 8px;
    color: white;
    /* background-color: red; */
    border: none;
    margin-top: 30px;
}
button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #390000 0px 0px px;
    
}
/* #talents .single-talent a button:hover{
    background-color: #4b0a0a;
    box-shadow:2px 2px 2px #8d0e0e;
    transition: 200ms;
} */
.bio img {
    width:250px;
    height: 250px;
    border-radius:600px;
    object-fit: cover;
    margin-top: 10px; 
    box-shadow: 0 0 0 4px #ffffff;
}
.bio .contact {
    display: flex;
    justify-content: center;
}
.profile .user-gallery  {
    display: inline-block;
}

.profile .user-gallery p {
    color: white;
    font-family: Exo;
    text-align: center;
    margin-bottom:10px ;        
}
#delete-form {
    display: inline;
    width: 130px;
    padding: 6px;
    margin: 14px;
    background-color: transparent;
    box-shadow: none;
}
.btn-delete {
    float: right;
    color: #fff;
    background-color: #ff0000;
    font-family: Exo;
    font-size: 18px;
    padding: 4px 6px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-decoration: none;
    width: 100px;
}
.btn-delete:hover {
    background-color:  #880b0b;
    border: none;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
#grid .bio {
    width: 330px;
    background-color: #0f0f14; 
    height: 580px;
    margin-left: 80px;
    padding: 10px;
    position: sticky;
    border-radius: 10px;
    top: 13vh;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#grid .profile .user-gallery img {
    width: 630px;
    height: 530px;
    margin: 5px;
    object-fit:contain;
    border-radius: 10px;    
}
#grid .profile .user-gallery p {
    max-width: 80%;
    text-align: center;
    margin-left: 50px;
    word-spacing: 2px;
}
#grid .profile h5{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    margin-right: 100px;
    font-family: Exo;
}
.bio .whatsapp{
    color: #fff;
    animation: first_color .7s ease-in-out infinite alternate;
    font-size: 28px;
    width: 70px;
}
.bio .email {
    animation: second_color .7s ease-in-out infinite alternate;
    color: #fff;
    font-size: 28px;
    width: 70px;
}
.bio .call {
    animation: third_color .7s ease-in-out infinite alternate;
    color: #fff;
    font-size: 28px;
    width: 70px;
}
@keyframes first_color {
    0%{
        text-shadow: 0 0 10px #07a35d,
        0 0 20px #048f51, 0 0 30px #027969
    }
    100%{
        text-shadow: 0 0 10px #048a4d,
        0 0 20px #026d3d, 0 0 30px #013b31
    }
    
}
@keyframes second_color {
    0%{
        text-shadow: 0 0 10px #464646,
        0 0 20px #75747400, 0 0 30px #202020;
    }
    100%{
        text-shadow: 0 0 10px #171717,
        0 0 20px #0d0c0c, 0 0 30px #040404;
    }
    
}
@keyframes third_color {
    0%{
        text-shadow: 0 0 10px #255fd3,
        0 0 20px #114eb1, 0 0 30px #02285e
    }
    100%{
        text-shadow: 0 0 10px #1345a8,
        0 0 20px #083379, 0 0 30px #000e21
    }
    
}
.right .links .facebook {
    color: rgb(38, 38, 234);
    font-size: 30px;
    width: 40px;
}
.right .links .instagram {
    color: rgb(168, 40, 28);
    font-size: 30px;
    width: 50px;
}
.right .links .youtube {
    color: rgba(199, 0, 0, 0.738);
    font-size: 30px;
    width: 50px;
}
.right .links .email {
    color: rgba(204, 204, 204, 0.738);
    font-size: 30px;
    width: 100px;
}
.right .links .email:hover{
    color: #ffffff;
    transition: 300ms;
}
.right .links .facebook:hover{
    color: #ffffff;
    transition: 300ms;
}
.right .links .youtube:hover{
    color: #ffffff;
    transition: 300ms;
}
.right .links .instagram:hover{
    color: #ffffff;
    transition: 300ms;
}
#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0.7;
  }
  #progress-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #000;
  }
  .box{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    border-radius: 10px;
    font-family: Exo;
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 4px #ffffff;
  }
  .box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p{
    text-align: justify;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover{
    color: #ff0000;
  }
.card{
    height: 420px;
    width: 320px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(50,50,50,0.9);
    padding: 50px 0;
}
.card *{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.card img{
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 8px #ffffff;
}
.card h4{
    color: var(--theme-color);
    font-size: 16px;
    margin: 15px 0 5px 0;
}
.card h5{
    color: #454545;
    font-weight: 400;
    font-size: 14px;
}
.testimonials{
    padding: 40px 0;
    background: #13131a;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #fb0505;
    margin: 26px auto;
  }
  
  .row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;

  }
  .testimonial{
    background: #fff;
    padding: 30px;
    box-shadow: 1em 2em 2.5em rgba(0, 0, 0, 0.2);
    height: 440px;
    border-radius: 10px;
  }
  .testimonial img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 2px #ff0000;
  }
  .testimonial img:hover {
    transform: scale(1.10);
    transition: transform  300ms ease-in-out;
  }
.testimonial p {
    font-size: 18px;
    font-family:Ubuntu-Light ;
    word-spacing: 1px;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
    font-family: Exo;
  }
  .stars{
    color: #da0000;
    margin-bottom: 10px;
  }
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  .button-value {
    border: 2px solid #ff0000;
    padding: 1em 2.0em;
    border-radius: 3em;
    font-size: 13px;
    background-color: transparent;
    color: #fff;
    font-family: Exo;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 20px;
  }
  .active {
    background-color: #a10000;
    color: #ffffff;
    border: 1px solid silver;
  }
@media screen  and (max-width:670px) {
    .footer {
        font-size: 13px;
        margin-top: 100%;
        position: absolute;
        top: 125%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-text {
        color: rgb(255, 0, 0);
        font-family: Exo;
        text-align: center;
        cursor: pointer;
        font-size: 22px;
        font-weight: bolder;
        margin-bottom: 4px;
    }
    .nav-link {
        display: none;
    }
    nav .text {
        font-size: 10px;
        margin-left: 55px;
        margin-top: 0;
    }
    .logo {
       font-size: 18px;
    }
    .slideshow-item-text {
        max-width: 100%;
        top: initial;
        bottom: 0;
        right: 10%;
        transform: initial;
        padding: 8px 5px;
        font-size: 15px;
    }
    .slideshow-item-text h5 {
        font-size: 15px;
    }
    #talents .single-talent {
        overflow:hidden;
        width: 90%; 
        display: inline-block;
        background-color:#e9e1e1 ;
        border-radius: 10px;
        height: 460px;
        transition: transform  300ms ease-in-out;
        
    }
    #talents  {
        margin-left:50px;
        margin-right: 10px;
    }
    .row.primary {
        grid-template-columns: 1fr;
      }
      .row.secondary {
        flex-direction: column;
      }
}